<div class="step-bubbles">
  <div class="bubble step-in">1</div>
  <div class="linkage"></div>
  <div class="bubble">2</div>
  <div class="linkage"></div>
  <div class="bubble">3</div>
  <div class="linkage"></div>
  <div class="bubble">4</div>
  <div class="linkage"></div>
  <div class="bubble">5</div>
</div>