.step-bubbles
  display flex
  align-items center
  justify-content center
  width auto
  
  &:last-child
    display none
  
  .bubble
    color #ffffff
    font-family 'opensans-bold'
    background-color #e5e5e5
    width 26px
    height 26px
    display inline-block
    border-radius 50%
    display flex
    justify-content center
    align-items center
    font-size .75em
    
    &.step-in
      background-color #e66700

  .linkage
    display inline-block
    background-color #e5e5e5
    height 2px
    width 37px
  